<h1>Links So Far</h1>

<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% @link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :out_url %><br>
    <%= f.text_area :out_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
	    <th>ID</th>
      <th>Short URL</th>
      <th>Long URL</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
	      <td><%= link.id %></td>
        <td><%= link_to get_short_url(link), get_short_url(link) %></td>
        <td><%= link_to link.out_url, link.out_url %></td>
        <td><%= link_to 'Go', get_short_url(link) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
